name = "telegram-archiver-api"
main = "src/index.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[env.production]
name = "telegram-archiver-api"

# D1 Database Configuration
[[d1_databases]]
binding = "DB"
database_name = "tg-archive-db"
database_id = "78d5f1bc-52ca-4aab-98c1-6e2a09f91c40"

# R2 Bucket Configuration
[[r2_buckets]]
binding = "BUCKET"
bucket_name = "tg-archive-bucket"
